<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trigger'18|Team</title>
    <link rel="stylesheet" href="our.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row"><br><br><br>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../prev/black.jpg" alt="blk">
            </div>
            <h3>Shashi Sir</h3>
            <span class="post">Presedent</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../prev/black.jpg" alt="blk">
            </div>
            <h3>Shashi Sir</h3>
            <span class="post">Presedent</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../prev/black.jpg" alt="blk">
            </div>
            <h3>Shashi Sir</h3>
            <span class="post">Presedent</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../prev/black.jpg" alt="blk">
            </div>
            <h3>Shashi Sir</h3>
            <span class="post">Presedent</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
