<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trigger'18|Team</title>
    <link rel="stylesheet" href="our.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row"><br><br><br>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/hod.jpg" alt="Hod">
            </div>
            <h3>Dr. S. Usha</h3>
            <span class="post">Prof & HOD</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/shashi.jpg" alt="blk">
            </div>
            <h3>Shashidhar</h3>
            <span class="post">Professor</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/swetha.jpg" alt="blk">
            </div>
            <h3>Swetha</h3>
            <span class="post">Professor</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/manu.jpg" alt="blk">
            </div>
            <h3>Manu R</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div></div><div class="row"><br>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/akashy.jpg" alt="blk">
            </div>
            <h3>Akashy</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/piyush.jpg" alt="blk">
            </div>
            <h3>Piyush Jain</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/manjunatha.jpg" alt="blk">
            </div>
            <h3>Manjunatha M S</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/swethab.jpg" alt="blk">
            </div>
            <h3>Swetha</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div></div><div class="row"><br>
        <div class="col-md-3">
          <div class="our-team">
            <div class="pic">
              <img src="../ourteam/hiya.jpg" alt="blk">
            </div>
            <h3>Hiya Choudhary</h3>
            <span class="post">Co-Ordinator</span>
            <ul class="social">
              <li> <a href="#" class="fa fa-facebook"></a> </li>
              <li> <a href="#" class="fa fa-twitter"></a> </li>
              <li> <a href="#" class="fa fa-google-plus"></a> </li>
              <li> <a href="#" class="fa fa-linkedin"></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
