<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <title>Trigger'18</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style media="screen">
      #poo{
        font-size: 60px;
        color: white;
      }
      #po{
        font-size:25px;
      }
    </style>
  </head>
  <body>
    <div class="parallaxt"><br><br>
      <div class="row">
        <div class="">
          <img src="../images/final-logo.png" alt="logo" style="width:70%;margin-left:15%;">
        </div>
      </div>
      <p id="poo"><b>Technical Events</b></p>
      <p id="po">Professional game between Programmers.</p>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              &nbsp&nbsp&nbsp
              <span><a href="https://goo.gl/forms/pGgMizliHoOWvo7y1" target="_blank">Register Now</a></span>
              &nbsp&nbsp&nbsp              <span><a href="https://drive.google.com/open?id=1SQUyFFCsyTWOYs-7gsNGdX-TvP_zLAXO">Events Brochure</a></span>
          </div>
          <div class="col-md-4"></div>
      </div>
      <br><br><br><br><br><br><br>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarNavDropdown" class="navbar-collapse collapse">
              <ul class="navbar-nav mr-auto"></ul>
              <ul class="navbar-nav" >
                  <li class="nav-item">
                    <a href="#" class="nav-link">Event Broucher</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#eve">Event List</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#contactus">Contact Us</a>
                  </li>
              </ul>
          </div>
      </nav><br>
      <script type="text/javascript">
      $('.navbar-nav>li>a').on('click', function(){
  $('.navbar-collapse').collapse('hide');
});
      </script>
    <div id="eve" class="events" style="color:white;"><br><br><br>
      <h1 style="color:black;">Events List</h1><br><br>
      <div class="testimonials">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <h3><b>Debate</b></h3>
              <div class="image">
                <img src="../prev/debate.png" alt="img">
              </div>
              <div class="details">
                <h2>For Rules Check with Rule Book(Event Broucher)<br> <span> <a href="https://goo.gl/forms/pGgMizliHoOWvo7y1">Register Now</a> <a href="https://drive.google.com/open?id=1jlQF5Ei1mlMUUNVdGmYgGEVmM458ubg_">Rule Book</a> </span> </h2>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <h3><b>Web Design</b></h3>
              <div class="image">
                <img src="../prev/web.jpg" alt="img">
              </div>
              <div class="details">
                <h2>For Rules Check with Rule Book(Event Broucher)<br> <span> <a href="https://goo.gl/forms/pGgMizliHoOWvo7y1">Register Now</a> <a href="https://drive.google.com/open?id=1TWDqH4174w0IPBW3SdUnD1hFl3IcWmbg">Rule Book</a> </span> </h2>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <h3><b>Paper Presentation</b></h3>
              <div class="image">
                <img src="../prev/paper.jpeg" alt="img">
              </div>
              <div class="details">
                <h2>For Rules Check with Rule Book(Event Broucher) <br> <span> <a href="https://goo.gl/forms/pGgMizliHoOWvo7y1">Register Now</a> <a href="https://drive.google.com/open?id=1PHa4O1TQjhJdeNAE7kB8uY2xFs2UoIIZ">Rule Book</a> </span> </h2>
              </div>
          </div>
        </div>
      </div>
      <div class="testimonials">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <h3><b>Technical Pictography</b></h3>
              <div class="image">
                <img src="../prev/tpic.jpg" alt="img">
              </div>
              <div class="details">
                <h2>For Rules Check with Rule Book(Event Broucher)<br> <span> <a href="https://goo.gl/forms/pGgMizliHoOWvo7y1">Register Now</a> <a href="https://drive.google.com/open?id=1R8trmLQJYvZxVuJNfNe7rJ-JblPksNSe">Rule Book</a> </span> </h2>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contactus" style="font-family: 'Roboto Mono', monospace;"><br><br><br><br>
      <h2><b>Contact Us</b></h2><br><br>
      <h5><b>For Registrations, Sponsorship and General Queries, Contact Us with the Details Below</b></h5>
      <div class="row"><br><br>
        <div class="col-md-4">.</div>
        <div class="col-md-2">
          <h5>Registration</h5>
          <h6>Piyush Jain</h6>
          <h6>+919035218271</h6>
          <h6>Ankith</h6>
          <h6>+918660023005</h6>
        </div>
        <div class="col-md-2">
          <h5>General Queries</h5>
          <h6>Manjunatha M S</h6>
          <h6>+919481566564</h6>
          <h6>Hiya Choudhary</h6>
          <h6>+918310074671</h6>
        </div>
        <div class="col-md-4">.</div>
      </div>
    </div>
    <footer class="page-footer font-small blue pt-4">
        <div style="background-color:#f5f5f5;" class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="http://trigger2k18.com/">Trigger'18</a>
          <p style="text-align:center;color: black;font-size:10px;">PROUDLY BUILT BY: Manjunatha M S</p>
        </div>
    </footer>
  </body>
</html>
