#particles-js{
  margin-top: 0%;
  background-image: url('prev/fin.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.events .testimonials {
  margin: 20px auto 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}
.events .testimonials .card{
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: black;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  overflow: hidden;
}
.events .testimonials .card .content{
  z-index: 2;
  position: relative;
}
.events .testimonials .card .content p{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.events .testimonials .card .content .image img{
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%:
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.events .testimonials .card .layer{
  top: 0;
}
.events .testimonials .card .content .details h2
{
  font-size: 18px;
  color:#fff;
}
.events .testimonials .card .content .details h2 span a{
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 20px;
  transition: scale(0);
  font-size: 14px;
}
#particles-js #register span a{
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background: black;
  border: 2px solid #000;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 20px;
  transition: scale(0);
  font-size: 14px;
}
#particles-js #register span a:hover{
  background: white;
  color: #000;
  transform: scale(1);
}
#particles-js #register span {
  color: #000;
}
.events .testimonials .card .content .details h2 span a:hover{
  background: #fff;
  color: #262626;
  transform: scale(1);
}
.events .testimonials .card:hover .content .details h2 span{
  color: #fff;
}
.events .testimonials .card:hover .layer{

  position: absolute;
  top: calc(100% - 2px);
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
body{
  margin: 0;
  padding: 0;
}
#ist{
  background-color: Aliceblue;
}
#ist #h2{
  text-align: left;
}
h3,p, h4, h2,h5,h1,h6{
  text-align: center;
  color: white;
}
.parallax {
    background-image: url('prev/fin.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallaxt {
    background-image: url('images/lg.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxn {
    background-image: url('images/img11.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxl {
    background-image: url('images/img11.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxt .row .col-md-2 span a,.col-md-4 span a{
  display: inline-block;
  padding: 5px 20px;
  margin-left: 50px;
  color: black;
  background: white;
  border: 2px solid #fff;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 20px;
  transition: scale(0);
  font-size: 14px;
}
.parallaxt .row .col-md-2 span a:hover,.col-md-4 span a:hover{
  background: lightblue;
  color: black;
  transform: scale(1);
}

#c{
  background: #f5f5f5;
  color: black;
}
#c button{
  margin-left: 46%;
}
.carousel-inner img {
     width: 100%;
     height: 50%;
 }
 .events .container_eff{
   position: relative;
   width: 1230;
   height: 310px;
   margin: 33px auto ;
 }
 .events .container_eff .box{
   position: relative;
   width: calc(410px - 30px);
   height: calc(310px - 30px);
   background: #000;
   float: left;
   margin: 15px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 10px;
 }
 .events .container_eff .box .icon{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #f00;
   transition: 0.5s;
   z-index: 1;
 }
 .events .container_eff .box:hover .icon{
   top:20px;
   left: calc(50% - 40px);
   width: 80px;
   height: 80px;
   border-radius: 50%;
 }
 .events .container_eff .box .icon .fa{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 80px;
   transition: 0.5s;
   color: #fff;
 }
 .events .container_eff .box:hover .icon .fa{
   font-size: 40px;
 }
 .events .container_eff .box .content{
   position: absolute;
   text-align: center;
   top:100%;
   height: (100% - 100px);
   padding: 20px;
   box-sizing: border-box;
   transition: 0.5s;
   opacity: 0;
 }
 .events .container_eff .box:hover .content{
   top: 100px;
   opacity: 1;
 }
 .events .container_eff .box .content h3{
   margin: 0 0 10px;
   text-align: center;
   padding: 0;
   color: #fff;
   font-size: 24px;
 }
 .events .container_eff .box .content p{
   margin: 0;
   padding: 0;
   color: #fff;
 }
 .events .container_eff .box:nth-child(1) .icon{
 background: #D3D3D3;
 }
 .events .container_eff .box:nth-child(1){
 background: #778899;
 }
 .events .container_eff .box:nth-child(2) .icon{
 background: #D3D3D3;
 }
 .events .container_eff .box:nth-child(2){
 background: #778899;
 }
 .events .container_eff .box:nth-child(3) .icon{
 background: #D3D3D3;
 }
 .events .container_eff .box:nth-child(3){
 background: #778899;
 }
 .events .container_eff .box .content span{
   color: #fff;
 }
 .events .container_eff .box .content span a{
   display: inline-block;
   padding: 5px 20px;
   color: #fff;
   border: 2px solid #fff;
   text-decoration: none;
   transition: 0.5s;
   border-radius: 20px;
   transition: scale(0);
   font-size: 14px;
 }
 .events .container_eff .box .content span a:hover{
   background: #fff;
   color: #262626;
   transform: scale(1);
 }
#particles-js #register .parallaxa{
  opacity: 0.9;
  position: absolute;
  margin-top: 20%;
  margin-left:43%;
}
.parallaxt .row .img img{
  width:70%;
  margin-left:100%;
}
@media (max-width: 992px) {
  .parallaxt .row .img img{
    width:70%;
    margin-left:15%;
  }
  #particles-js #register .parallaxa{
    opacity: 0.9;
    position: absolute;
    margin-top: 69%;
    margin-left:27%;
  }
  .events .container_eff{
    position: relative;
    width: auto;
    height: 310px;
    margin: 33px auto ;
  }
  .events .container_eff .box .content{
    position: absolute;
    text-align: center;
    top:100%;
    height: (100% - 100px);
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
  }
  .events .container_eff .box{
    position: relative;
    width: calc(350px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }
  .parallaxt .row .col-md-2 span a,.col-md-4 span a{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 0;
    color: black;
    background: white;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transition: scale(0);
    font-size: 14px;
  }
  .events .testimonials .card{
    position: relative;
    width: 320px;
    margin-left: 18px;
    background: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    overflow: hidden;
  }
}
